<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Currency Converter</h1>
    <form action="/" method="post">
      <label for="currency">Currency:</label>
      <input type="text" id="currency" name="currency" />
      <select name="type">
        <option value="usd">USD</option>
        <option value="eur">EUR</option>
        <option value="jpy">JPY</option>
      </select>
      <input type="submit" />
    </form>
  </body>
</html>
