<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>イベント検索</title>
  </head>
  <body>
    <h1>イベント検索</h1>
    <form action="/search" method="post">
      <label for="year">年:</label>
      <input type="text" id="year" name="year" /><br /><br />
      <label for="month">月:</label>
      <input type="text" id="month" name="month" /><br /><br />
      <label for="day">日:</label>
      <input type="text" id="day" name="day" /><br /><br />
      <input type="submit" value="検索" />
    </form>
  </body>
</html>
