<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container mt-5">
        <h1 class="text-center mb-4">a6-2 イベント情報 (Bootstrapで装飾)</h1>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>イベント名</th>
                <th>場所</th>
                <th>時期</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>新歓</td>
                <td>三田駅近くの居酒屋</td>
                <td>2024/4/4</td>
              </tr>
              <tr>
                <td>2</td>
                <td>誕生日会</td>
                <td>友達の家</td>
                <td>2024/4/8</td>
              </tr>
              <tr>
                <td>3</td>
                <td><font color="red">勉強会</font></td>
                <td>Hack Bar</td>
                <td>2024/5/6</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <footer class="bg-dark text-white text-center py-3 mt-5 fixed-bottom">
      &copy; 2023 Yuta Nisihoka.
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
