<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>イベント一覧</title>
  </head>
  <body>
    <h1>イベント一覧</h1>
    {% if table %}
    <table border="1">
      <tr>
        {% for item in schema %}
        <th>{{ item }}</th>
        {% endfor %}
      </tr>
      {% for row in table %}
      <tr>
        {% for item in row %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>イベントがありません。</p>
    {% endif %}
    <a href="/">イベントを追加</a>
  </body>
</html>
